<section class="glass-bg">
 
</section>
<nav>
 <section class="content-wrapper">
  <ul class="inline">
   <section>
    <li><a href="#">home</a></li>
   </section>
   <section>
    <li><a href="#case-studies" >case studies</a></li>
    <li><a href="#services">services</a></li>
    <li><a href="#testimonials">testimonials</a></li>
    <li><a href="#contact">contact</a></li>
   </section>
  </ul>
 </section>
</nav>
{{outlet}}

<footer class="content-wrapper">
 <section class="row">
  <section class="about col">
   <h6>a minimalistic template</h6>
  </section>
  <section class="contact col">
   <h6>contact@yourdomain.com</h6>
  </section>
  <section class="social col">
   <span class="twitter"></span>
   <span class="facebook"></span>
   <span class="instagram"></span>
  </section>
 </section>
</footer>
