<section class='hero-showcase'>
</section>
<section class='tagline'>
 <h1>The Agency</h1>
 <h2>We craft innovative ideas into digital products</h2>
 <a href='#' class="call-to-action">Get started now</a>
</section>
<section class='content-wrapper '>
 <section class='business-description'>
  <h2>how we can help</h2>
  <p>
   Error vitae, cupiditate architecto officia rem natus neque ipsa itaque at veniam voluptatibus, tempora sequi earum quo.
   Inventore voluptatibus incidunt possimus molestiae.
  </p>
  <ul class='benefits-list row'>
   <li class="col">
    <h3 class='ideation icon-heading'>Innovation and Strategy</h3>
    <p>
     Ullam reiciendis labore fuga earum nisi tempora explicabo voluptatibus tempore vero est assumenda nam ex error placeat
     eius dolores, blanditiis natus repellat?
    </p>
   </li>
   <li class="col">
    <h3 class='engineering icon-heading'>Engineering</h3>
    <p>
     Ullam reiciendis labore fuga earum nisi tempora explicabo voluptatibus tempore vero est assumenda nam ex error placeat
     eius dolores, blanditiis natus repellat?
    </p>
   </li>
   <li class="col">
    <h3 class='analytics icon-heading'>Growth Hacking</h3>
    <p>
     Repellendus architecto nulla iure tempore perspiciatis, alias sit magnam, sed vitae, hic commodi optio eos?
     Nobis nihil consectetur quod, quas maxime minus.
    </p>
   </li>
  </ul>
 </section>
 <section id="case-studies" class='portfolio'>
  <h2>case studies</h2>
  {{#masonry-grid-list items=items customLayout=true as |item index grid|}}
   {{case-study-showcase item=item grid=grid}}
  {{/masonry-grid-list}}
 </section>
 <section id='services' class='services'>
  <section class='row'>
   <section class='col'>
    <h3>Services</h3>
    <p>
     Reprehenderit ea, at eligendi ab molestiae, inventore nulla, odit quae ipsum quam, eveniet dignissimos mollitia
     cupiditate totam. Assumenda delectus est, voluptatem neque.
    </p>
    <a href="" class="call-to-action">Let's talk about your project</a>
   </section>
   <section class='col services-list'>
    <h3>Innovation &amp; Strategy</h3>
    <ul>
     <li>Ideation Process</li>
     <li>Overall Strategy</li>
    </ul>
    <h3>Engineering</h3>
    <ul>
     <li>Web Development</li>
     <li>App Development</li>
     <li>Webapp Performance Tuning</li>
     <li>Security Audits</li>
    </ul>
   </section>
   <section class='col services-list'>
    <h3>Growth Hacking</h3>
    <ul>
     <li>KPI Analysis</li>
     <li>Devising Growth Strategies</li>
     <li>Implementing Growth Strategies</li>
    </ul>
   </section>
  </section>
 </section>
 <section class='testimonials'>
  <section id="testimonials" class='row testimonials'>
   <h3>our previous clients</h3>
   <section class='col testimonial'>
    <img alt="" src="images/testimonial-thumb-1.jpg" class="testimonial-image"/>
    <span class='details'>
     <span class='name'> paul b.</span>
     <span class='company'>company inc.</span>
    </span>
    <p class='quote'>
     Nesciunt dolore quaerat, iure eveniet totam sint accusantium nisi repellendus praesentium nobis rem quod recusandae earum
     consectetur necessitatibus quidem quis, aliquid pariatur.
    </p>
   </section>
   <section class='col testimonial'>
    <img alt="" src="images/testimonial-thumb-2.jpg" class="testimonial-image"/>
    <span class='details'>
     <span class='name'> sarah k.</span>
     <span class='company'>company inc.</span>
    </span>
    <p class='quote'>
     Consequuntur ipsam atque, repellendus rerum enim, vero doloribus illo incidunt unde adipisci.
     Dolores itaque maxime hic perferendis nostrum tempore, aperiam laboriosam minima!
    </p>
   </section>
   <section class='col testimonial'>
    <img alt="" src="images/testimonial-thumb-3.jpg" class="testimonial-image"/>
    <span class='details'>
     <span class='name'> john m.</span>
     <span class='company'>company inc.</span>
    </span>
    <p class='quote'>
     Beatae distinctio ducimus ut ipsam, laborum quidem veniam perspiciatis totam neque harum sed alias
     magni, adipisci sint fuga. Rerum, architecto ea minima.
    </p>
   </section>
  </section>
 </section>
</section>
